@import '/public/const.scss';

@keyframes absolute{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fixed{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes cont{
    0%{
        transform: rotate(0) scale(1.05);
        -webkit-transform: rotate(0) scale(1.05);
        -moz-transform: rotate(0) scale(1.05);
        -ms-transform: rotate(0) scale(1.05);
        -o-transform: rotate(0) scale(1.05);
}
    25%{
        transform: rotate(10deg) scale(1.05);
        -webkit-transform: rotate(10deg) scale(1.05);
        -moz-transform: rotate(10deg) scale(1.05);
        -ms-transform: rotate(10deg) scale(1.05);
        -o-transform: rotate(10deg) scale(1.05);
}
    50%{
        transform: rotate(-10deg) scale(1.05);
        -webkit-transform: rotate(-10deg) scale(1.05);
        -moz-transform: rotate(-10deg) scale(1.05);
        -ms-transform: rotate(-10deg) scale(1.05);
        -o-transform: rotate(-10deg) scale(1.05);
}
    75%{
        transform: rotate(10deg) scale(1.05);
        -webkit-transform: rotate(10deg) scale(1.05);
        -moz-transform: rotate(10deg) scale(1.05);
        -ms-transform: rotate(10deg) scale(1.05);
        -o-transform: rotate(10deg) scale(1.05);
}
    100%{
        transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        -moz-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
}
}

@keyframes contw{
    0%{
        transform: rotate(0) scale(0.95);
        -webkit-transform: rotate(0) scale(0.95);
        -moz-transform: rotate(0) scale(0.95);
        -ms-transform: rotate(0) scale(0.95);
        -o-transform: rotate(0) scale(0.95);
}
    25%{
        transform: rotate(10deg) scale(0.95);
        -webkit-transform: rotate(10deg) scale(0.95);
        -moz-transform: rotate(10deg) scale(0.95);
        -ms-transform: rotate(10deg) scale(0.95);
        -o-transform: rotate(10deg) scale(0.95);
}
    50%{
        transform: rotate(-10deg) scale(0.95);
        -webkit-transform: rotate(-10deg) scale(0.95);
        -moz-transform: rotate(-10deg) scale(0.95);
        -ms-transform: rotate(-10deg) scale(0.95);
        -o-transform: rotate(-10deg) scale(0.95);
}
    75%{
        transform: rotate(10deg) scale(0.95);
        -webkit-transform: rotate(10deg) scale(0.95);
        -moz-transform: rotate(10deg) scale(0.95);
        -ms-transform: rotate(10deg) scale(0.95);
        -o-transform: rotate(10deg) scale(0.95);
}
    100%{
        transform: rotate(0deg) scale(0.9);
        -webkit-transform: rotate(0deg) scale(0.9);
        -moz-transform: rotate(0deg) scale(0.9);
        -ms-transform: rotate(0deg) scale(0.9);
        -o-transform: rotate(0deg) scale(0.9);
}
}

.basket{
    border: none;
    background: transparent;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 15px;
   
    svg{
        width: 23px !important;
        height: auto !important;
        fill: white;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
        //margin-bottom: 4px;
}
    span{
        background-color: rgb(109, 109, 109) !important;
        color: white;
    }
}
.basket:hover{
    svg{
        fill: #f1ead6;
    }
}

.fixed{
    position: fixed;
    animation: fixed .6s ease;
}
.absolute{
    position: fixed;
    transform: translateY(-100%);
}
.btn-close.header-close{
    filter: invert(1) grayscale(100%) brightness(300%);
    -webkit-filter: invert(1) grayscale(100%) brightness(300%);
    opacity: 1;
}
.offcanvas{
    border-left: none !important;
    background-color: #1D1C1C !important;
    color: white !important;
    backdrop-filter: blur(15px);
    width: 100%;
    .cart-header{
        color: white !important;
    }
    .contacts-container{
        margin-top: 20px;
        flex-direction: column !important;
        .icons{
            gap: 15px;
            svg{
                height: 36px !important;
                width: auto !important;
            }
        }
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-transform: uppercase;
        a{
            color: white;
            transition: .2s ease;
            font-weight: 500;
        }
        .logo-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;
            img{
                height: 56px;
            }
            .name{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                span:nth-child(1){
                    font-size: 28px;
                    font-weight: 600;
                    text-transform: none;
                }           
            }
        }
        .contacts-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            .line{
                width: 2px;
                height: 18px;
                background-color: white;
                border-radius: 2px;
            }
            .icons{
                display: flex;
                flex-direction: row;
                align-items: center;
                a{
                    transition: .3s ease;
                    svg{
                        transition: .3s ease;
                    }
                }
            }
          
            .tel{
                display: flex;
                align-items: center;
                transition: .3s ease;
                cursor: pointer;
                svg{
                    height: 26px;
                    margin-top: 4px;
                    width: fit-content;
                }
                a{
                    text-wrap: nowrap;
                    font-weight: 500;
                }
            }
            svg{
                width: 32px;
                height: 32px;
                margin-top: 2px;
                cursor: pointer;
            }
        }
        .footer-contacts{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            color: white;
            font-size: 14px;
            font-weight: 400;
            justify-content: center;
            .links{
                display: flex;
                flex-direction: row;
                align-items: center;
                .icon{
                    width: 70px;
                    height: 50px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    border-top: 1px solid rgba(0, 0, 0, 0.3);
                    padding: 5px 5px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        //fill: $dark-gray;
                        height: 30px;
                        fill: white;
                        path{
                            fill: white;
                        }
                    }
                }
                .icon:nth-child(1){
                    svg{
                        height: 35px;
                    }
                }
                .icon:nth-child(2){
                    svg{
                        height: 25px;
                    }
                }
                .icon:nth-child(3){
                    svg{
                        height: 35px;
                    }
                }
                .icon:nth-child(4){
                    svg{
                        height: 29px;
                    }
                }
                .icon:hover{
                    border-bottom: 1px solid white;
                    border-top: 1px solid white;
                }
            }
            P{
                margin: 15px 0 10px;
            }
            a{
                text-transform: none;
                transition: .3s ease;
            }
            a:hover{
                //color: $olive-light;
            }
            .link-more{
                //border: 2px solid $olive;
                background-color: transparent;
                font-family: inherit;
                letter-spacing: inherit;
                font-size: 14px;
                margin-right: 0;
                cursor: pointer;
                //color: $dark-gray;
                span{
                    z-index: 1;
                    transition: transform .3s ease;
                    font-weight: 500;
                }
            }
            .link-more::before{
                //background-color: $olive;
                z-index: 0;
            }
            .link-more:hover{
                color: white;
                span{
                    transform: translateX(-5px);
                }
                svg{
                    transform: translateX(5px) scaleX(1.3);
                }
            }
        }
    }
}
header{
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    //background: #623e63;
    background: #1D1C1C;
    backdrop-filter: blur(20px);
    padding: 12px 15%;
    align-items: center;
    transition: transform 0.3s ease, position 0.3s ease;
    animation: absolute .6s ease;
    box-shadow: -2px 2px 45px -20px #0000004d;
    -webkit-box-shadow: -2px 2px 45px -20px rgba(0, 0, 0, .3);
    -moz-box-shadow: -2px 2px 45px -20px rgba(0, 0, 0, .3);
    color: white;
    .cart-menu{
        display: flex;
        gap: 40px;
    }
    .btn-menu{
        display: none;
        background: transparent;
        border: none;
        svg{
            width: 30px;
            height: 30px;
            fill: white;
        }
    }
    .contacts-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .line{
            width: 2px;
            height: 18px;
            background-color: white;
            border-radius: 2px;
        }
        .icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 7px;
            a{
                transition: .3s ease;
                .head-tg{
                    path{
                        transition: transform .3s ease;
                        -webkit-transition: transform .3s ease;
                        -moz-transition: transform .3s ease;
                        -ms-transition: transform .3s ease;
                        -o-transition: transform .3s ease;
                        transform-origin: center;
                    }
                }
                .head-w{
                    path:nth-child(2){
                        transition: transform .3s ease;
                        -webkit-transition: transform .3s ease;
                        -moz-transition: transform .3s ease;
                        -ms-transition: transform .3s ease;
                        -o-transition: transform .3s ease;
                        transform-origin: center;
                        transform: scale(.9);
                        -webkit-transform: scale(.9);
                        -moz-transform: scale(.9);
                        -ms-transform: scale(.9);
                        -o-transform: scale(.9);
}
                }
            }
            a:hover{
                .head-tg{
                    path{
                        animation: cont .7s cubic-bezier(0,0,.5,1);
                        -webkit-animation: cont .7s cubic-bezier(0,0,.5,1);
                    }
                }
                .head-w{
                    path:nth-child(2){
                        animation: cont .7s cubic-bezier(0,0,.5,1);
                        -webkit-animation: cont .7s cubic-bezier(0,0,.5,1);
                    }
                }
            }
        }
        .tel{
            display: flex;
            align-items: center;
            transition: .3s ease;
            cursor: pointer;
            svg{
                height: 26px;
                margin-top: 4px;
                width: fit-content;
            }
            a{
                text-wrap: nowrap;
                font-weight: 500;
            }
        }
        .tel:hover{
            color: #f1ead6;
        }
        svg{
            width: 32px;
            height: 32px;
            margin-top: 2px;
            cursor: pointer;
        }
    }
    .logo-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        img{
            height: 66px;
            width: auto;
        }
        .name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            span:nth-child(1){
                font-size: 30px;
                font-weight: 500;
            }
            span:nth-child(2){
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 4px;
                transform: scale(1, .8);
                margin-top: -8px;
            }
        }
    }
    .menu{
        display: flex;
        flex-direction: row;
        gap: 20px;
        a{
            color: white;
            transition: .2s ease;
            font-weight: 500;
            font-size: 18px;
        }
        a:hover{
            color: #f1ead6;
        }
    }
}
@media screen and (max-width: 1785px){
    header{
        padding: 10px 10%;
    }
}
@media(max-width:1570px) {
    header{
        padding: 10px 5%;
    }
}
@media(max-width:1350px) {
    header{
        padding: 10px 5%;
    }
}
@media(max-width:1240px){
    header{
        padding: 12px 3%;
        .cart-menu{
            display: flex;
            gap: 20px;
        }
        .btn-menu{
            display: block;
        }
        .contacts-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            display: none;
            .line{
                width: 2px;
                height: 18px;
                background-color: white;
                border-radius: 2px;
            }
            .icons{
                display: flex;
                flex-direction: row;
                align-items: center;
                a{
                    transition: .3s ease;
                    svg{
                        transition: .3s ease;
                    }
                }
                a:hover{
                    svg{
                        //fill: $olive;
                    }
                }
            }
            .tel{
                display: flex;
                align-items: center;
                transition: .3s ease;
                cursor: pointer;
                svg{
                    height: 26px;
                    margin-top: 4px;
                    width: fit-content;
                }
                a{
                    text-wrap: nowrap;
                    font-weight: 500;
                }
            }
            .tel:hover{
                //color: $olive;
            }
            svg{
                width: 32px;
                height: 32px;
                margin-top: 2px;
                cursor: pointer;
            }
        }
        .logo-container{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-self: flex-start;
            img{
                height: 44px;
            }
            .name{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                span:nth-child(1){
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 120%;
                }
            }
        }
        .menu{
            display: flex;
            flex-direction: row;
            gap: 26px;
            text-transform: uppercase;
            display: none;
            a{
                color: white;
                transition: .2s ease;
                font-weight: 500;
            }
        }
        .mob{
            display: flex;
            flex-direction: column;
        }
    }
}