@import '/public/const.scss';

.spinner {
    border: 4px solid #bbbaba; 
    border-top: 4px solid #ffffff; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    text-align: center;
    margin-top: 48vh;
    margin-left: 48vw;
    margin-bottom: 48vh;
}


@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.product-details{
    margin: 150px auto;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .product-details__main{
        display: flex;
        background-color: #1D1C1C;
        border-radius: 15px;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        .product-details__image{
            width: 100%;
            max-width: 500px;
            min-width: 500px;
            height: auto;
            padding-left: 30px;
            img{
                width: 100%;
                height: auto;
            }
          
        }
        .product-details__content{
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 10px;
            padding: 40px;
            .product-details__text-main{
                font-size: 18px;
                h1{
                    color: white;
                    font-weight: 600;
                    font-size: 32px;
                    margin-bottom: 40px;
                    margin-top: 20px;
                }
                p{
                    color: white;
                    font-size: 16px;
                }
            }
            .product-details__text-additional{
                display: flex;
                flex-direction: row;
                gap: 10px;
                .choice-button{
                   border: 1px solid white;
                   background-color: white;
                   color: $font;
                   padding: 7px 25px;
                   border-radius: 15px;
                   transition: all 0.3s ease-in-out;
                   -webkit-border-radius: 15px;
                   -moz-border-radius: 15px;
                   -ms-border-radius: 15px;
                   -o-border-radius: 15px;
                }
                .choice-button.active{
                    background-color: #5871F3;
                    color: white;
                }
            }
            .stats{
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-top: 15px;
                margin-bottom: 15px;
                p{
                    margin-bottom: 0;
                    span{
                        font-weight: 600;
                    }
                }
            }
            .product-details__text-price{
                font-size: 18px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10px;
                align-items: center;
                .price-count{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 100%;
                    gap: 10px;
                    div{
                        display: flex;
                        align-items: center;
                        gap: 1px;
                        height: 100%;
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            width: 50px;
                            text-align: center;
                            background-color: $body;
                            height: 100%;
                            color: white;
                        }
                        button{
                            width: 60px;
                            height: 100%;
                            border: none;
                            background-color: $body;
                            color: white;
                            font-size: 32px;
                            font-weight: 500;
                            transition: .3s cubic-bezier(0,0,.5,1);
                            -webkit-transition: .3s cubic-bezier(0,0,.5,1);
                            -moz-transition: .3s cubic-bezier(0,0,.5,1);
                            -ms-transition: .3s cubic-bezier(0,0,.5,1);
                            -o-transition: .3s cubic-bezier(0,0,.5,1);
                        }
                        button:hover{
                            background-color: #5c5c5c;
                            color: white;
                        }
                        button:active{
                            transform: scale(.95);
                            -webkit-transform: scale(.95);
                            -moz-transform: scale(.95);
                            -ms-transform: scale(.95);
                            -o-transform: scale(.95);
                        }
                        button:nth-child(1){
                            border-top-left-radius: 15px;
                            border-bottom-left-radius: 15px;
                        }
                        button:nth-child(3){
                            border-top-right-radius: 15px;
                            border-bottom-right-radius: 15px;
                        }
                    }
                }
                .price{
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 0;
                    align-items: center;
                    display: flex;
                    color: white;
                    background-color: $body;
                    padding: 5px 40px;
                    height: 100%;
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    -moz-border-radius: 15px;
                    -ms-border-radius: 15px;
                    -o-border-radius: 15px;
                }   
                .buy-button{
                   padding: 15px 40px;
                   background-color: #5871F3;
                   border-radius: 15px;
                   border: none;
                   color: white;
                   -webkit-border-radius: 15px;
                   -moz-border-radius: 15px;
                   -ms-border-radius: 15px;
                   -o-border-radius: 15px;
                   transition: .3s cubic-bezier(0,0,.5,1);
                   -webkit-transition: .3s cubic-bezier(0,0,.5,1);
                   -moz-transition: .3s cubic-bezier(0,0,.5,1);
                   -ms-transition: .3s cubic-bezier(0,0,.5,1);
                   -o-transition: .3s cubic-bezier(0,0,.5,1);
                }
                .buy-button:hover{
                    background-color: #465ac2;
                }
            }
        }
    }
     .buy-button-second{
                   padding: 15px 40px;
                   background-color: #5871F3;
                   border-radius: 15px;
                   border: none;
                   color: white;
                   -webkit-border-radius: 15px;
                   -moz-border-radius: 15px;
                   -ms-border-radius: 15px;
                   -o-border-radius: 15px;
                   transition: .3s cubic-bezier(0,0,.5,1);
                   -webkit-transition: .3s cubic-bezier(0,0,.5,1);
                   -moz-transition: .3s cubic-bezier(0,0,.5,1);
                   -ms-transition: .3s cubic-bezier(0,0,.5,1);
                   -o-transition: .3s cubic-bezier(0,0,.5,1);
                }
                .buy-button-second:hover{
                    background-color: #465ac2;
                }
}

@media screen and (max-width: 1300px) {
    .product-details{
        width: 90%;
        margin: 150px 5%;
    }
}

@media screen and (max-width: 1000px) {
    .product-details{
        width: 90%;
        margin: 100px 5%;
    }
    .product-details__main{
        flex-direction: column !important;
        gap: 0 !important;
        .product-details__image{
            max-width: 100% !important;
            padding-left: 0 !important;
            img{
                margin-left: 25% !important; 
                margin-right: 25% !important;  
                width: 50% !important;
                height: auto !important;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .product-details__content{
        padding: 25px !important;
    }
    .product-details__main{
        .product-details__image{
            img{
                margin-left: 10% !important; 
                margin-right: 10% !important;  
                width: 80% !important;
                height: auto !important;
            }
        }
        .product-details__text-price{
            align-items: flex-start !important;
            width: 100%;
            .price-count{
                flex-direction: column !important;
                width: 50%;
                div{
                    height: 34px !important;
                    width: 100%;
                    button{
                        height: 100% !important;
                        width: 35% !important;
                        font-size: 24px !important;
                    }
                    span{
                        width: 30% !important;
                    }
                }
            }
        }
    }
    .product-details__text-main{
        h1{
            font-size: 26px !important;
        }
        p{
            font-size: 14px !important;
        }
    }
    .buy-button{
        font-size: 16px !important;
        padding: 10px 30px !important;
        width: 50%;
    }
    .price{
        font-size: 20px !important;
        padding: 5px 20px !important;
        width: 100%;
        justify-content: center;
    }
    .choice-button{
        padding: 3px 20px !important;
    }
       .buy-button-second{
        font-size: 16px !important;
        padding: 10px 30px !important;
        width: 100%;
    }
}

@media screen and (max-width: 524px) {
    .product-details__image{
        max-width: 300px !important;
        min-width: 300px !important;
      
    }
}

@media screen and (max-width: 424px) {
    .product-details__text-main{
        h1{
            margin-top: 0px !important;
            font-size: 24px !important;
        }
        p{
            font-size: 13px !important;
        }
    }
    .buy-button{
        font-size: 14px !important;
        padding: 10px 30px !important;
        white-space: nowrap;
    }
    .price{
        white-space: nowrap;
        font-size: 18px !important;
    }
    .product-details__image{
        max-width: 200px !important;
        min-width: 200px !important;
      
    }
     .buy-button-second{
        font-size: 14px !important;
        padding: 10px 30px !important;
        white-space: nowrap;
    }
}

@media screen and (max-width: 408px) {
    .buy-button{
        font-size: 14px !important;
        padding: 8px 20px !important;
    }
       .buy-button-second{
        font-size: 14px !important;
        padding: 8px 20px !important;
    }
    .price{
        font-size: 18px !important;
    }
}