@import '/public/const.scss';

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.flag-dropdown {
    display: none !important;
}
.checkout-page{
    margin: 150px auto;
    padding: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    .checkout-form{
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        width: 60%;
        h1{
            color:white;
        }
        form{
            margin-top: 50px;
            display: flex;  
            flex-direction: column;
            gap: 20px;
          
            .checkout-name{
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: 15px;
                padding: 30px;
                input{
                    width: 100%;
                    background-color: white;
                    border: none;
                    border-bottom: 1px solid rgba(242, 242, 247, 1);
                    padding: 10px 20px;
                    color: $font;
                }
                input:focus{
                    outline: none;
                }
          
            }
            .checkout-delivery{
                background-color: white;
                border-radius: 15px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .checkout-delivery-method{
                    display: flex;
                    gap: 2%;
                    button{
                        width: 48%;
                        background-color:rgba(242, 242, 247, 1);
                        border: none;
                        padding: 10px 20px;
                        border-radius: 10px;
                        color: $font;
                        transition: background-color 0.3s ease;
                    }
                    button.active{
                        background-color: $font;
                        color: white;
                    }
                }
                .checkout-delivery-address{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    input{
                        width: 100%;
                        background-color: white;
                        border: none;
                        border-bottom: 1px solid rgba(242, 242, 247, 1);
                        padding: 10px 20px;
                        color: $font;
                    }
                    input:focus{
                        outline: none;
                    }
                }
                .checkout-delivery-pickup{
                    padding: 10px 20px;
                    align-items: center;
                }
               
            }
            
            
        }
    }
    .checkout-table{
        background-color: white;
        border-radius: 15px;
        padding: 30px;
        margin-top: 125px;
        width: 40%;
        height: fit-content;
        h4{
            border-bottom: 1px solid rgba(242, 242, 247, 1);
        }
        ul{
            padding-left: 0px;
        }
        .checkout-total{
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-weight: 700;
            margin-top: 50px;
        }
        .cart-list{
            display: flex;  
            flex-direction: column;
            gap: 20px;
            margin-top: 30px;
         
            .cart-item{
                border-bottom: 1px solid rgba(242, 242, 247, 1);
                display: flex;
                justify-content: space-around;
                img{
                    width: 100px;
                    height: 100px;
                }
                .cart-item-info{
                    display: flex;
                    flex-direction: column;
                    .cart-item-name{
                        font-weight: 600;
                        display: flex;
                        .price{
                            display: flex !important;
                            flex-direction: row;
                        }
                    }
                }
            }
        }
            button{
            width: 100%;
            background-color: $font;
            color: white;
            font-size: 18px;
            font-weight: 700;
            border-radius: 15px;
            padding: 15px 10px;
            border: none;
            cursor: pointer;
        }
        .spinner {
            border: 4px solid #bbbaba; 
            border-top: 4px solid #ffffff; 
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
            text-align: center;
            margin-left: 48%;
            margin-top: 48%;
        }
        .checkout-privacy {
            input[type='checkbox'] {
                width: 14px !important;
                height: 14px !important;
                cursor: pointer;
                accent-color: #4caf50; // Зеленый цвет для чекбокса
                // Для браузеров, которые не поддерживают accent-color
                &::before {
                background-color: #4caf50;
                }
            }
            // Кастомный стиль для лучшей видимости
            input[type='checkbox']:checked {
                background-color: #4caf50;
                border-color: #4caf50;
            }
            }
    }
}

@media screen and (max-width: 1300px) {
    .checkout-page{
        max-width: 90%;
        margin: 150px 5%; 
    }
}

@media screen and (max-width: 1100px) {
  .checkout-page{
      flex-direction: column !important;
      margin: 100px 5% !important;
      gap: 0px !important;
      .checkout-form{
          width: 100% !important;
      }
      .checkout-table{
          width: 100% !important;
          margin-top: 50px !important;
      }
      .checkout-table{
        margin-top: 0px !important;
      }
  }

}

@media screen and (max-width: 570px) {
    .cart-item{
        gap: 20px !important;
      }
}

@media screen and (max-width: 420px) {
  .cart-item-name{
    font-size: 14px !important;
  }
  .price{
    font-size: 14px !important;
  }
    button{
        font-size: 16px !important;
    }
    .checkout-total{
        font-size: 15px !important;
    }
}