@import '/public/const.scss';

@keyframes preview {
    0%{
        opacity: 0;
        transform: translateY(5vh);
        -webkit-transform: translateY(5vh);
        -moz-transform: translateY(5vh);
        -ms-transform: translateY(5vh);
        -o-transform: translateY(5vh);
}
    100%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.mob{
    display: none !important;
}
.preview{
    margin-top: 100px;
    //margin-bottom: 100px;
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    height: 50vh;
    animation: preview 1s ease;
    -webkit-animation: preview 1s ease;
        .preview-card{
        position: relative;
        background-color: #1D1C1C;
        color: white;
        padding: 30px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        min-width: 15%;
        //flex: 1;
        overflow: hidden;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
            a{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                height: 100%;
                div{
                    width: 100%;
                    height: 100%;
                }
            }


        .list{
            position: absolute;
            display: flex;
            justify-content: center;
            padding: 20px;
            bottom: 0;
            gap: 20px;
            width: 100%;
            left: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: $header;
            backdrop-filter: blur(15px);
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transition: transform .3s ease;
            -webkit-transition: transform .3s ease;
            -moz-transition: transform .3s ease;
            -ms-transition: transform .3s ease;
            -o-transition: transform .3s ease;
            z-index: 2;
            a{
                color: white;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0;
                transition: .3s ease;
                -webkit-transition: .3s ease;
                -moz-transition: .3s ease;
                -ms-transition: .3s ease;
                -o-transition: .3s ease;
            }
            a:hover{
                color: $pink;
            }
            div{
                display: flex;
                flex-direction: column;
            }
        }   
        img{
            position: absolute;
            width: 115%;
            height: auto;
            bottom: -25%;
            right: -8%;
            z-index: 1;
        }
        h3{
            position: relative;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 5px;
            z-index: 2;
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;
        }
        p{
            position: relative;
            font-size: 16px;
            color: #7a7a86;
            z-index: 2;
        }
    }
    .preview-card:hover{
        background-color: white;
        h3{
            color: #1D1C1C;
        }
        .list{
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
        }
    }
    .preview-column-one{
        width: calc(25%);
    }
    .preview-column-two{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        flex: 1;
        .preview-card:nth-child(1){
            width: calc(65% - 12px);
            img{
                width: 58%;
                bottom: -35%;
                right: -11%;
            }
        }
        .preview-card:nth-child(2){
            width: calc(35% - 12px);
            img{
                transform:scale(-1,1);
                width: 115%;
                bottom: -55%;
                right: -25%;
                -webkit-transform:scale(-1,1);
                -moz-transform:scale(-1,1);
                -ms-transform:scale(-1,1);
                -o-transform:scale(-1,1);
}
        }
        .preview-card:nth-child(3){
            width: calc(30% - 12px);
            img{
                width: 135%;
                left: 0;
                bottom: -25%;
            }
        }
        .preview-card:nth-child(4){
            width: calc(70% - 12px);
            img{
                width: 36%;
                right: 0;
                bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1785px){
    .preview{
        padding: 0 10%;
        min-height: 500px;
    }
}

@media screen and (max-width: 1570px){
    .preview{
        padding: 0 5%;
        min-height: 500px;
    }
}

@media screen and (max-width: 992px){
    .preview{
        margin-top: 60px;
        //margin-bottom: 60px;
        padding: 0 3%;
        gap: 3%;
        height: 40vh;
        max-height: 300px;
        min-height: 294px;
        width: 100%;
        max-width: 100%;
            .preview-card{
                padding: 20px;
                min-width: 15%;
                //flex: 1;
                min-height: 143px;
            img{
                position: absolute;
                width: 120%;
                height: auto;
                bottom: -15%;
                right: -9%;
                z-index: 1;
            }
            h3{
                font-size: 18px;
                margin-bottom: 0;
            }
            p{
                position: relative;
                font-size: 14px;
                color: #7a7a86;
                z-index: 2;
            }
        }
        .preview-column-one{
            width: calc(50% - 1.5%);
            min-width: calc(50% - 3%);
        }
        .preview-column-two{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 3%;
            flex: 1;
            min-width: calc(50% - 1.5%);
            .preview-card:nth-child(1){
                width: calc(100% - 0%);
                height: 50%;
                img{
                    width: 80%;
                    bottom: -20%;
                    right: -18%;
                }
            }
            .preview-card:nth-child(2){
                display: none;
                width: calc(100% - 3%);
                img{
                    transform:scale(-1,1);
                    width: 115%;
                    bottom: -55%;
                    right: -25%;
                    -webkit-transform:scale(-1,1);
                    -moz-transform:scale(-1,1);
                    -ms-transform:scale(-1,1);
                    -o-transform:scale(-1,1);
    }
            }
            .preview-card:nth-child(3){
                display: none;
                width: calc(90% - 3%);
                img{
                    width: 135%;
                    left: 0;
                    bottom: -25%;
                }
            }
            .preview-card:nth-child(4){
                width: calc(100% - 0%);
                height: 50%;
                img{
                    width: 56%;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
    .mob{
        display: flex !important;
        flex-direction: row !important;
        gap: 15px;
        margin-top: 3% !important;
        min-height: fit-content !important;
        height: fit-content !important;
        .preview-column-two{
            flex-direction: row;
            max-height: 170px;
            min-height: 170px;
            .preview-card:nth-child(1){
                display: flex !important;
                flex-direction: column;
                width: 50% !important;
                height: 100%;
                img{
                    transform:scale(-1,1);
                    width: 115%;
                    bottom: -25%;
                    right: -25%;
                    -webkit-transform:scale(-1,1);
                    -moz-transform:scale(-1,1);
                    -ms-transform:scale(-1,1);
                    -o-transform:scale(-1,1);
            }
            }
            .preview-card:nth-child(2){
                display: flex !important;
                flex-direction: column;
                width: 50% !important;
                img{
                    width: 135%;
                    left: 0;
                    bottom: -20%;
                }
            }
        }
    }
}