$font: #1D1D1F;
$body: #2F2D2E;
//$ilght-blue: #C2D8D6;
$ilght-blue: #b3d6da;
//$ilght-blue: #C3D7D8;
//$blue: #7AA0A3;
$blue: #56bdc5;
//$dark-blue: #486e70;
$dark-blue: #499499;
//$dark-blue: #4D686A;
//$pink: #F2B8A0;
$pink: #dfcea2;
$header: hsla(174, 6%, 35%, 0.65);
$header-full: hsla(174, 6%, 35%, 1);