@import '/public/const.scss';

.about{
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    height: 70vh;
    margin-bottom: 100px;
    margin-top: 100px;
    min-height: 720px;
    h1{
        color: white;
        font-size: 46px;
        font-weight: 600;
    }
    .about-container{
        display: flex;
        flex-direction: row;
        gap: 24px;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        .about-text{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: calc(50%);
            min-width: calc(50%);
            height: 100%;
            background: linear-gradient(180deg, #F2B8A033 20%, #5345BA 80%);
            padding: 40px;
            color: white;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            h2{
                font-size: 32px;
                font-weight: 600;
            }
            img{
                position: absolute;
                bottom: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                z-index: -1;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
}
        }
        .about-mission{
            display: flex;
            flex-direction: column;
            gap: 24px;
            div{
                padding: 40px;
                width: calc(100% - 12px);
                height: calc(50% - 12px);
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
                p{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .mission{
                position: relative;
                background-color: #1D1C1C;
                color: white;
                .icon{
                    position: absolute;
                    padding: 2%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        position: relative;
                        width: 90%;
                        height: auto;
                    }
                }
                .icon:nth-child(2){
                    width: 13%;
                    height: 30% ;
                    background: $pink ;
                    background: linear-gradient(120deg, #5871F3 0%, #FF8A8C 100%);
                }
                .icon:nth-child(3){
                    width: 20% ;
                    height: 50% ;
                    background: $pink ;
                    background: linear-gradient(120deg, #5871F3 0%, #FF8A8C 100%);
                    bottom: 0;
                    left: 30%;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .icon:nth-child(4){
                    width: 17% ;
                    height: 40% ;
                    background: $pink ;
                    right: 10%;
                    background: linear-gradient(120deg, #5871F3 0%, #FF8A8C 100%);
                }
            }
            .purpose{
                position: relative;
                background: $dark-blue;
                background: linear-gradient(30deg, #5345BA 0%, #5871F3 100%);
                color: white;
                p{
                    position: relative;
                    z-index: 2;
                    width: 70%;
                }
                .icon{
                    position: absolute;
                    padding: 0;
                    width: 30% ;
                    height: auto ;
                    right: 15%;
                    bottom: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        position: relative;
                        fill: #FF8A8C;
                        z-index: 1;
                        width: 100%;
                        height: auto;
                    }
                    .back-icon{
                        position: absolute;
                        width: 50% ;
                        height: 50%;
                        background-color: white;
                        z-index: 0;
                        right: 25%;
                        bottom: 10%;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1785px){
    .about{
        padding: 0 10%;
        min-height: 700px;
    }
}

@media screen and (max-width: 1570px){
    .about{
        padding: 0 5%;
        min-height: 700px;
    }
}

@media screen and (max-width: 1560px){
    .about{
        padding: 0 5%;
        min-height: 650px;
    }
}

@media screen and (max-width: 1250px){
    .about{
        padding: 0 5%;
        min-height: 650px;
        .about-container .about-mission div p {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1130px){
    .about{
        padding: 0 5%;
        min-height: 650px;
        .about-container .about-mission div p {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 992px){
    .about{
        display: flex;
        flex-direction: column;
        padding: 0 3%;
        height: fit-content;
        margin-bottom: 100px;
        margin-top: 100px;
        h1{
            font-size: 22px;
            font-weight: 600;
        }
        .about-container{
            display: flex;
            flex-direction: column;
            gap: 15px;
            height: 100%;
            width: 100%;
            margin-top: 40px;
            .about-text{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: end;
                width: 100%;
                min-width: 100%;
                padding: 25px;
                min-height: 330px;
                h2{
                    font-size: 18px;
                    font-weight: 600;
                }
                img{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                }
                p{
                    font-size: 12px;
                }
            }
            .about-mission{
                gap: 15px;
                div{
                    padding: 25px;
                    width: 100%;
                    p{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                .mission{
                    position: relative;
                    min-height: 200px;
                    .icon{
                        position: absolute;
                        padding: 2%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            position: relative;
                            width: 90%;
                            height: auto;
                        }
                    }
                    .icon:nth-child(2){
                        width: 60px;
                        height: 60px ;
                        background: $pink ;
                        background: linear-gradient(120deg, $pink 0%, $blue 100%);
                    }
                    .icon:nth-child(3){
                        width: 80px ;
                        height: 90px ;
                        background: $pink ;
                        background: linear-gradient(30deg, $pink 0%, $blue 100%);
                        bottom: 0;
                        left: 35%;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    .icon:nth-child(4){
                        width: 60px ;
                        height: 60px ;
                        background: $pink ;
                        right: 10%;
                        background: linear-gradient(-30deg, $pink 0%, $blue 100%);
                    }
                }
                .purpose{
                    position: relative;
                    color: white;
                    min-height: 200px;
                    p{
                        position: relative;
                        z-index: 2;
                        width: 70%;
                    }
                    .icon{
                        position: absolute;
                        padding: 0;
                        width: 140px ;
                        height: auto ;
                        right: 5%;
                        bottom: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg{
                            position: relative;
                            z-index: 1;
                            width: 100%;
                            height: auto;
                        }
                        .back-icon{
                            position: absolute;
                            width: 50% ;
                            height: 50%;
                            z-index: 0;
                            right: 25%;
                            bottom: 10%;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}