@import '/public/const.scss';

footer{
    display: flex;
    flex-direction: column;
    background-color: $font;
    color: white;
    padding: 65px 15%;
    .footer-container{
        
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        color: white;
        a{
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;
            svg{
                path{
                    transition: .3s ease;
                    -webkit-transition: .3s ease;
                    -moz-transition: .3s ease;
                    -ms-transition: .3s ease;
                    -o-transition: .3s ease;
                }
            }
        }   
        a:hover{
            color: $pink;
            svg{
                path{
                    fill: $pink;
                }
            }
        }
        .logo-footer{
            display: flex;
            align-items: center;
            gap: 30px;
            h3{
                font-size: 36px;
                font-weight: 600;
            }
        }
        .menu-footer{
            display: flex;
            flex-direction: column;
            gap: 60px;
            .links{
                display: flex;
                flex-direction: row;
                gap: 40px;
            }
            .adress{
                font-size: 14px;
                font-weight: 400;
                opacity: .75;
                p{
                    margin-bottom: 0;
                }
            }
        }
        .contacts-footer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            .footer-tel{
                p{
                    font-size: 14px;
                    font-weight: 400;
                    opacity: .75;
                }
            }
            .links-contacts{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
      
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        p{
            margin-top: 25px;
        }
    }
}


@media screen and (max-width: 1785px){
    .footer-container{
        padding: 65px 10%;
    }
}

@media screen and (max-width: 1570px){
    .footer-container{
        padding: 55px 5%;
    }
}

@media screen and (max-width: 1100px){
    .footer-container{
        padding: 35px 5%;
        background-color: $font;
        display: flex;
        flex-direction: column !important;
        gap: 40px !important;
        justify-content: space-between !important;
        align-items: center;
        color: white;
        a{
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;
            svg{
                path{
                    transition: .3s ease;
                    -webkit-transition: .3s ease;
                    -moz-transition: .3s ease;
                    -ms-transition: .3s ease;
                    -o-transition: .3s ease;
                }
            }
        }   
        a:hover{
            color: $pink;
            svg{
                path{
                    fill: $pink;
                }
            }
        }
        .logo-footer{
            display: flex !important;
            flex-direction: column !important;
            gap: 10px;
            img{
                width: 80px;
                height: auto;
            }
            h3{
                font-size: 32px;
                font-weight: 600;
            }
        }
        .menu-footer{
            display: flex !important;
            flex-direction: column !important;
            gap: 60px;
            .links{
                display: flex !important; 
                flex-direction: column !important;
                align-items: center;
                gap: 30px;
                a{
                    //width: 100%;
                    text-align: center;
                }
            }
            .adress{
                font-size: 14px;
                font-weight: 400;
                opacity: .75;
                p{
                    margin-bottom: 0;
                    text-align: center;
                }
            }
        }
        .contacts-footer{
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .footer-tel{
                display: flex !important;
                flex-direction: column !important;
                align-items: center;
                p{
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    opacity: .75;
                }
            }
            .links-contacts{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
      
    }
    .footer-bottom{
        p{
            font-size: 14px !important;
        }
    }
}