@import '/public/const.scss';

.products-catalog-container{
    padding: 170px 0;
    display: flex;
    flex-direction: column;
    h1{
        font-weight: 600;
        padding: 0 15%;
        color: white;
    }
    h2{
        padding: 100px 15% 0;
        font-weight: 600;
        color: white;
    }
    .new{
        padding-top: 10px;
        h1{
            display: none;
        }
    }
    .catalog-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .catalog-card{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            height: auto;
            background-color: white;
            padding: 0px 0px 40px 0px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            overflow: hidden;
            transition: .3s ease;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -ms-transition: .3s ease;
            -o-transition: .3s ease;
            img{
                width: 80%;
                height: auto;
            }
            .card-name{
                position: absolute;
                background-color: hsla(176, 37%, 85%, 0.6);
                backdrop-filter: blur(10px);
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 20px 20px 20px 60px;
                left: -20px;
                bottom: 20px;
                transition: .3s ease;
                -webkit-transition: .3s ease;
                -moz-transition: .3s ease;
                -ms-transition: .3s ease;
                -o-transition: .3s ease;
                p:nth-child(1){
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                p:nth-child(2){
                    font-weight: 500;
                    font-size: 16px;
                    margin-bottom: 0px;
                    color: #7a7a86;
                }
            }
            .card-name:hover{
                transform: translateX(20px);
                -webkit-transform: translateX(20px);
                -moz-transform: translateX(20px);
                -ms-transform: translateX(20px);
                -o-transform: translateX(20px);
}
        }
        .catalog-card:nth-child(3){
            padding: 0px 0px 0px 0px;
            img{
                width: 97%;
            }
        }
        .catalog-card:hover{
            background-color: $font;
            .card-name{
                background-color: hsla(176, 37%, 85%, 0.3);
                p:nth-child(1){
                    color: white;
                }
                p:nth-child(2){
                    color: #d6d6df;
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    .products-catalog-container{
        padding: 100px 0;
        h1{
            margin-bottom: 0;
        }
    }
}