@import "/public/const.scss";

@keyframes filter {
  0% {
    opacity: 0;
    transform: translateY(1vh);
    -webkit-transform: translateY(1vh);
    -moz-transform: translateY(1vh);
    -ms-transform: translateY(1vh);
    -o-transform: translateY(1vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  .spinner {
    border: 4px solid #bbbaba;
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    text-align: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.accordion-button::after {
  color: white !important;
}
.products-container {
  margin: 150px auto;
  padding: 0 auto;
  max-width: 1300px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;

  animation: filter 0.5s ease;
  -webkit-animation: filter 0.5s ease;
  h1 {
    text-align: left;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 32px;
    color: white;
  }
  .filter-container {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    gap: 50px;
    .search {
      width: 26.5%;
      input {
        border: none;
        background-color: white;
        width: 100%;
        border-radius: 15px;
        padding: 10px 20px;
        color: black;
      }
      input[type="checkbox"] {
        width: 5% !important;
      }
      input[type="range"] {
        color: #7aa0a3 !important;
      }
      input:focus {
        outline: none;
      }
    }
    .mobile-categories {
      display: none;

      @media (max-width: 992px) {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        gap: 8%;
      }
    }
    .sort-container {
      display: flex;
      flex-direction: column;
      background-color: #1d1c1c;
      min-width: 71.2%;
      max-width: 71.2%;
      border-radius: 15px;
      .open-modal {
        display: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
      .line {
        width: 100%;
        height: 1px;
        background-color: $body;
      }
      .filter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        margin: 12px 20px;
        .swiper-slide {
          width: fit-content;
        }
      }
      .sort {
        margin: 12px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .sort-item {
          display: flex;
          flex-direction: row;
          gap: 20px;
          padding-left: 8px;
          select {
            text-overflow: ellipsis;
            width: 160px;
            background-color: white;
            border-radius: 15px;
            color: $font;
            border: none;
            cursor: pointer;
            transition: 0.2s ease;
            -webkit-transition: 0.2s ease;
            -moz-transition: 0.2s ease;
            -ms-transition: 0.2s ease;
            -o-transition: 0.2s ease;
          }
          label {
            color: white;
          }
        }
      }
      .custom-button {
        text-wrap: nowrap;
        padding: 8px 16px;
        background-color: $body;
        border-radius: 15px;
        color: white;
        transition: all 0.2s ease-in-out;
        border: none;
      }
      .custom-button:hover {
        color: rgb(155, 155, 155);
      }
      .custom-button.active {
        background-color: white;
        color: #1d1c1c;
      }
    }
  }
  .products-body {
    display: flex;
    flex-direction: row;
    gap: 50px;
    .filter-main {
      min-width: 25%;
      height: fit-content;
      border-radius: 15px;
      display: flex;
      background-color: #1d1c1c;
      flex-direction: column;
      padding: 0px 0 28px;
      margin-top: -75px;
      overflow: hidden;
      .accordion-button:not(.collapsed) {
        background-color: #1d1c1c !important;
        color: white;
        border-bottom: none;
      }
      .accordion-button:focus {
        box-shadow: none !important;
      }
      .accordion-button {
        font-size: 18px !important;
        font-weight: 600 !important;
        background-color: #1d1c1c !important;
        padding: 18px 28px;
        color: white;
        border-top: 1px solid $body;
      }
      .accordion-item {
        background-color: #1d1c1c !important;
        color: white;
        border: none !important;
      }
      .accordion {
        background-color: $body !important;
        border: none !important;
      }
      .accordion-body {
        display: flex;
        flex-direction: column;
        padding: 20px 28px;
        gap: 10px;
        label {
          input {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            background-color: #777777;
          }
        }
        input[type="range"] {
          font-size: 1.5rem;
          width: 100%;
        }

        input[type="range"] {
          color: white;
          --thumb-height: 20em;
          --track-height: 2px;
          --track-color: rgba(0, 0, 0, 0.2);
          --brightness-hover: 120%;
          --brightness-down: 80%;
          --clip-edges: 0.125em;
        }

        input[type="range"] {
          color: white;

          --thumb-height: 20px;
          --thumb-width: 0.4em;
          --clip-edges: 0.0125em;
        }
        input[type="range"] {
          position: relative;
          background: #fff0;
          overflow: hidden;
        }
        input[type="range"]:active {
          cursor: pointer;
        }
        input[type="range"]:disabled {
          filter: grayscale(1);
          opacity: 0.3;
          cursor: not-allowed;
        }
        input[type="range"],
        input[type="range"]::-webkit-slider-runnable-track,
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          transition: all ease 100ms;
          height: var(--thumb-height);
        }
        input[type="range"]::-webkit-slider-runnable-track,
        input[type="range"]::-webkit-slider-thumb {
          position: relative;
        }
        input[type="range"]::-webkit-slider-thumb {
          --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
          --clip-top: calc(
            (var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px
          );
          --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
          --clip-further: calc(100% + 1px);
          --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0
            0 100vmax currentColor;
          width: var(--thumb-width, var(--thumb-height));
          background: linear-gradient(currentColor 0 0) scroll no-repeat left
            center / 50% calc(var(--track-height) + 1px);
          background-color: currentColor;
          box-shadow: var(--box-fill);
          border-radius: var(--thumb-width, var(--thumb-height));
          filter: brightness(100%);
          clip-path: polygon(
            100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further)
          );
          -webkit-border-radius: var(--thumb-width, var(--thumb-height));
          -moz-border-radius: var(--thumb-width, var(--thumb-height));
          -ms-border-radius: var(--thumb-width, var(--thumb-height));
          -o-border-radius: var(--thumb-width, var(--thumb-height));
        }
        input[type="range"]:hover::-webkit-slider-thumb {
          filter: brightness(var(--brightness-hover));
          cursor: pointer;
          -webkit-filter: brightness(var(--brightness-hover));
        }
        input[type="range"]:active::-webkit-slider-thumb {
          filter: brightness(var(--brightness-down));
          cursor: pointer;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          background: linear-gradient(var(--track-color) 0 0) scroll no-repeat
            center / 100% calc(var(--track-height) + 1px);
        }
        input[type="range"]:disabled::-webkit-slider-thumb {
          cursor: not-allowed;
        }
        input[type="range"],
        input[type="range"]::-moz-range-track,
        input[type="range"]::-moz-range-thumb {
          appearance: none;
          transition: all ease 100ms;
          height: var(--thumb-height);
        }

        input[type="range"]::-moz-range-track,
        input[type="range"]::-moz-range-thumb,
        input[type="range"]::-moz-range-progress {
          background: #fff0;
        }

        input[type="range"]::-moz-range-thumb {
          background: currentColor;
          border: 0;
          width: var(--thumb-width, var(--thumb-height));
          border-radius: var(--thumb-width, var(--thumb-height));
          cursor: pointer;
        }

        input[type="range"]:active::-moz-range-thumb {
          cursor: pointer;
        }

        input[type="range"]::-moz-range-track {
          width: 100%;
          background: var(--track-color);
        }

        input[type="range"]::-moz-range-progress {
          appearance: none;
          background: currentColor;
          transition-delay: 30ms;
        }

        input[type="range"]::-moz-range-track,
        input[type="range"]::-moz-range-progress {
          height: calc(var(--track-height) + 1px);
          border-radius: var(--track-height);
        }

        input[type="range"]::-moz-range-thumb,
        input[type="range"]::-moz-range-progress {
          filter: brightness(100%);
        }

        input[type="range"]:hover::-moz-range-thumb,
        input[type="range"]:hover::-moz-range-progress {
          filter: brightness(var(--brightness-hover));
        }

        input[type="range"]:active::-moz-range-thumb,
        input[type="range"]:active::-moz-range-progress {
          filter: brightness(var(--brightness-down));
        }

        input[type="range"]:disabled::-moz-range-thumb {
          cursor: not-allowed;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        padding: 28px 28px 0;
        justify-content: center;
        gap: 10px;
        border-top: 1px solid $body;
        button {
          font-family: inherit;
          border-radius: 10px;
          padding: 10px 14px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          transition: 0.3s ease;
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;
        }
        button:active {
          transform: scale(0.95);
          -webkit-transform: scale(0.95);
          -moz-transform: scale(0.95);
          -ms-transform: scale(0.95);
          -o-transform: scale(0.95);
        }
        button:nth-child(1) {
          border: 1px solid #5871f3;
          background-color: #5871f3;
          color: white;
        }
        button:nth-child(1):hover {
          border: 1px solid #4b5fc4;
          background-color: #4b5fc4;
        }
        button:nth-child(2) {
          border: 1px solid white;
          background-color: white;
          color: $font;
        }
        button:nth-child(2):hover {
          background-color: rgb(155, 155, 155);
          border: 1px solid rgb(155, 155, 155);
        }
      }
    }
    .grid {
      width: 100%;
      .grid-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .product-card {
          padding: 0rem 1rem 1.5rem 1rem;
          border-radius: 1.125rem;
          background-color: #1d1c1c;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: start;
          transition: box-shadow 0.3s ease;
          min-width: calc(33% - 0.666667rem);
          max-width: calc(33% - 0.666667rem);
          flex: 1;
          .switch {
            display: flex;
            flex-direction: row;
            justify-content: left;
            margin-bottom: 10px;
            gap: 10px;
            padding-left: 10px;
            button {
              border-radius: 8px;
              padding: 4px 10px;
              border: 1px solid white;
              font-size: 14px;
              color: white;
              background-color: #1d1c1c;
              cursor: pointer;
              transition: 0.3s ease;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              -ms-border-radius: 8px;
              -o-border-radius: 8px;
              -webkit-transition: 0.3s ease;
              -moz-transition: 0.3s ease;
              -ms-transition: 0.3s ease;
              -o-transition: 0.3s ease;
            }
            button.active {
              background-color: #5871f3;

              border: 1px solid #c8c8ce;
              color: white;
            }
          }
          img {
            width: 100%;
            height: 300px;
            object-fit: contain;
            transition: transform 0.3s ease;
          }
          a {
            display: flex;
            flex: 1;
            align-items: start;
          }
          .product-name {
            text-align: left;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            color: white;
            transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            margin-top: 0px;
            padding: 0 10px;
            -webkit-transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -moz-transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -ms-transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -o-transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          }
          .product-name:hover {
            color: rgb(153, 152, 152);
          }
          .product-info {
            padding: 5px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .product-price {
              font-size: 18px;
              font-weight: 500;
              color: white;
              margin-bottom: 0px;
              line-height: 100%;
            }
            .product-button {
              padding: 8px 20px;
              background-color: #5871f3;
              color: #fff;
              border: none;
              border-radius: 10px;
              font-size: 16px;
              cursor: pointer;
              transition: background-color 0.3s ease;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              -webkit-transition: background-color 0.3s ease;
              -moz-transition: background-color 0.3s ease;
              -ms-transition: background-color 0.3s ease;
              -o-transition: background-color 0.3s ease;
            }
            .product-button:hover {
              background-color: #38458a;
            }

            .product-button:active {
              transform: scale(0.98);
            }
          }
        }
        .product-card:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
        .product-card:hover .product-image {
          transform: scale(1.05);
        }
      }
      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 10px;
        .pagination-info {
          color: white;
        }
        button {
          padding: 5px 10px;
          background-color: #5871f3;
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          -webkit-transition: background-color 0.3s ease;
          -moz-transition: background-color 0.3s ease;
          -ms-transition: background-color 0.3s ease;
          -o-transition: background-color 0.3s ease;
        }
        button:disabled {
          background-color: #444444 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .products-container {
    width: 90%;
    margin: 100px 5%;
  }

  .product-card {
    min-width: calc(50% - 0.5rem) !important;
  }
}

@media screen and (max-width: 1000px) {
  .filter-main {
    display: none !important;
  }
  .filter-container {
    flex-direction: column !important;
  }
  .sort-container {
    min-width: 100% !important  ;
  }
  .search {
    width: 100% !important;
    input {
      max-width: 60% !important;
    }
  }
  .modal-filters {
    display: block !important;
  }
  .open-modal {
    display: block !important;
    font-family: inherit;
    font-weight: 300;
    background-color: white;
    color: black;
    border: none;
  }
  .open-modal:hover {
    cursor: pointer !important;
    background-color: white !important;
    color: black !important;
  }
}

@media screen and (max-width: 600px) {
  .product-name {
    font-size: 16px !important;
  }
  .search {
    input {
      min-width: 100% !important;
    }
  }
  .product-button {
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
  .switch-button {
    padding: 2px 4px !important;
  }
  .product-price {
    font-size: 16px !important;
  }
  .custom-button {
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
  .sort-item {
    label {
      font-size: 14px !important;
    }
    select {
      width: 120px !important;
      font-size: 14px !important;
    }
  }
  .filter-container {
    gap: 30px !important;
  }
}

@media screen and (max-width: 486px) {
  .product-name {
    font-size: 14px !important;
  }
  .product-button {
    padding: 4px 6px !important;
    font-size: 12px !important;
  }
  .product-price {
    font-size: 14px !important;
  }
  .switch-button {
    font-size: 13px !important;
  }
  .product-card {
    padding: 5px 10px !important;
    img {
      height: 200px !important;
    }
  }
  .sort-item {
    gap: 5px !important;
  }
  .open-modal {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 437px) {
  .sort-item {
    label {
      display: none;
      font-size: 12px !important;
    }
    select {
      width: 140px !important;
      font-size: 14px !important;
    }
  }
}

@media screen and (max-width: 394px) {
  .custom-button {
    padding: 4px 8px !important;
    font-size: 12px !important;
  }
  .product-card {
    padding: 5px 5px !important;
    img {
      height: 150px !important;
    }
  }
  .product-price {
    font-size: 12px !important;
  }
  .sort {
    margin: 0 !important;
  }
}
