

@import '../../../public/const.scss';

.blog-page {
  padding: 170px 20px 60px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;

  .container {
    margin: 0 auto;
  }

  .blog-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .blog-subtitle {
    color: #fff;
    font-size: 16px;
    margin-bottom: 28px;
    max-width: 700px;
  }

  /* GRID */
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 26px;
  }

  /* CARD */
  .blog-card {
    background: $body; /* тёмная карточка при наведении */
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(47, 45, 46, 0.06);
    transition: 0.25s ease;

    .img-wrap {
      position: relative;
      width: 100%;
      height: 210px;
      img {
        object-fit: cover;
      }
    }

    .card-body {
      padding: 16px 18px;

      .meta {
        font-size: 13px;
        color: #fff;
        display: flex;
        gap: 6px;
        margin-bottom: 8px;
        align-items: center;

        .dot {
          opacity: 0.6;
        }
      }

      .title {
        font-size: 18px;
        margin-bottom: 15px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }

      .desc {
        font-size: 14px;
        color: #fff;
        line-height: 1.35;
      }
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 12px 28px rgba(47, 45, 46, 0.1);
      background: $body; /* тёмная карточка при наведении */
      background: #fff; /* светлая карточка */

      .card-body {
        .meta,
        .title,
        .desc {
            color: $font;
        }
      }
    }
  }
  @media (max-width: 1300px)  {
        padding: 100px 20px 60px;
  }

  @media (max-width: 600px) {

    .blog-title {
      font-size: 28px;
    }
    .blog-subtitle {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}
