@import '/public/const.scss';  
.modal-filters{
            min-width: 25%;
            height: fit-content;
            border-radius: 15px;
            display: flex;
            background-color: white;
            flex-direction: column;
            overflow: hidden;
            .accordion-button:not(.collapsed){
                background-color: white !important;
                color: $font;
                border-bottom: none;
            }
            .accordion-button:focus{
                box-shadow: none !important;
            }
            .accordion-button{
                font-size: 18px !important;
                font-weight: 600 !important;
                background-color: white !important;
                padding: 18px 28px;
            }
            .accordion-item{
                background-color: white !important;
                border: none !important;
            }
            .accordion{
                background-color: $body !important;
                border: none !important;
            }
            .accordion-body{
                display: flex;
                flex-direction: column;
                padding: 20px 28px;
                gap: 10px;
                label{
                    input{
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                        background-color: #777777;
                    }
                }
                input[type="range"] {
                    font-size: 1.5rem;
                    width: 100%;
                }
                
                input[type="range"] {
                    color: $blue;
                    --thumb-height: 20em;
                    --track-height: 2px;
                    --track-color: rgba(0, 0, 0, 0.2);
                    --brightness-hover: 120%;
                    --brightness-down: 80%;
                    --clip-edges: 0.125em;
                }
                
                input[type="range"] {
                    color: $blue;
                
                    --thumb-height: 20px;
                    --thumb-width: 0.4em;
                    --clip-edges: 0.0125em;
                }
                input[type="range"] {
                    position: relative;
                    background: #fff0;
                    overflow: hidden;
                }
                input[type="range"]:active {
                    cursor: pointer;
                }
                input[type="range"]:disabled {
                    filter: grayscale(1);
                    opacity: 0.3;
                    cursor: not-allowed;
                }
                input[type="range"],
                input[type="range"]::-webkit-slider-runnable-track,
                input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    transition: all ease 100ms;
                    height: var(--thumb-height);
                }
                input[type="range"]::-webkit-slider-runnable-track,
                input[type="range"]::-webkit-slider-thumb {
                    position: relative;
                }
                input[type="range"]::-webkit-slider-thumb {
                    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
                    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
                    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
                    --clip-further: calc(100% + 1px);
                    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0                        100vmax currentColor;
                    width: var(--thumb-width, var(--thumb-height));
                    background: linear-gradient(currentColor 0 0) scroll no-repeat left center /                        50% calc(var(--track-height) + 1px);
                    background-color: currentColor;
                    box-shadow: var(--box-fill);
                    border-radius: var(--thumb-width, var(--thumb-height));
                    filter: brightness(100%);
                    clip-path: polygon(                        100% -1px,                        var(--clip-edges) -1px,                        0 var(--clip-top),                        -100vmax var(--clip-top),                        -100vmax var(--clip-bottom),                        0 var(--clip-bottom),                        var(--clip-edges) 100%,                        var(--clip-further) var(--clip-further)                    );
                    -webkit-border-radius: var(--thumb-width, var(--thumb-height));
                    -moz-border-radius: var(--thumb-width, var(--thumb-height));
                    -ms-border-radius: var(--thumb-width, var(--thumb-height));
                    -o-border-radius: var(--thumb-width, var(--thumb-height));
}
                input[type="range"]:hover::-webkit-slider-thumb {
                    filter: brightness(var(--brightness-hover));
                    cursor: pointer;
                    -webkit-filter: brightness(var(--brightness-hover));
}
                input[type="range"]:active::-webkit-slider-thumb {
                    filter: brightness(var(--brightness-down));
                    cursor: pointer;
                }
                input[type="range"]::-webkit-slider-runnable-track {
                    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
                        100% calc(var(--track-height) + 1px);
                }
                input[type="range"]:disabled::-webkit-slider-thumb {
                    cursor: not-allowed;
                }
                input[type="range"],
                input[type="range"]::-moz-range-track,
                input[type="range"]::-moz-range-thumb {
                    appearance: none;
                    transition: all ease 100ms;
                    height: var(--thumb-height);
                }
                
                input[type="range"]::-moz-range-track,
                input[type="range"]::-moz-range-thumb,
                input[type="range"]::-moz-range-progress {
                    background: #fff0;
                }
                
                input[type="range"]::-moz-range-thumb {
                    background: currentColor;
                    border: 0;
                    width: var(--thumb-width, var(--thumb-height));
                    border-radius: var(--thumb-width, var(--thumb-height));
                    cursor: pointer;
                }
                
                input[type="range"]:active::-moz-range-thumb {
                    cursor: pointer;
                }
                
                input[type="range"]::-moz-range-track {
                    width: 100%;
                    background: var(--track-color);
                }
                
                input[type="range"]::-moz-range-progress {
                    appearance: none;
                    background: currentColor;
                    transition-delay: 30ms;
                }
                
                input[type="range"]::-moz-range-track,
                input[type="range"]::-moz-range-progress {
                    height: calc(var(--track-height) + 1px);
                    border-radius: var(--track-height);
                }
                
                input[type="range"]::-moz-range-thumb,
                input[type="range"]::-moz-range-progress {
                    filter: brightness(100%);
                }
                
                input[type="range"]:hover::-moz-range-thumb,
                input[type="range"]:hover::-moz-range-progress {
                    filter: brightness(var(--brightness-hover));
                }
                
                input[type="range"]:active::-moz-range-thumb,
                input[type="range"]:active::-moz-range-progress {
                    filter: brightness(var(--brightness-down));
                }
                
                input[type="range"]:disabled::-moz-range-thumb {
                    cursor: not-allowed;
                }
            }
        
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    button{
        font-family: inherit;
        border-radius: 10px;
        padding: 10px 14px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -ms-transition: .3s ease;
        -o-transition: .3s ease;
    }
    button:active{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
}
    button:nth-child(1){
        border: 1px solid #5871F3;
        background-color: #5871F3;
        color: white;
    }
    button:nth-child(1):hover{
        border: 1px solid #5871F3;
        background-color: #5871F3;
    }
    button:nth-child(2){
        border: 1px solid rgb(138, 137, 137);
        background-color: white;
        color: $font;
    }
    button:nth-child(2):hover{
        background-color: white;
    }
}